.color-fondo{
	background-color:#D7D1E8;
}
.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-item { 
	text-align: center; 
}
.margen-superior{
	margin-top: 2%; 
}
.contenido-panel{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 180%;
}
.menu{
	background-color:#B1AFFF;
}
.titulo{
	font-size: 140%;
}
.nombre-menu{
	font-size: 180%;
}
.engranaje{
	font-size: 180%; 
	color:#A7ABA9;
}
.ancho-select{
	display: inline-block;
 	width: 18%;
 }
 .ancho-select-modustory{
 	display: inline-block;
 	width: 40%;
 }
.nombre-iteracion{ 
	font-size: 120%; 
}

.linea-horizontal-roja{
	height: 2px;
	border-color: red;
}

.rojo{
	color: red;
}

.verde{
	color: green;
}

.fondo-rojo{
	background-color: red;
}

.fondo-azul{
	background-color: blue;
}

.fondo-verde{
	background-color: green;
}

.input-medio{
	width: 30%;
}

.inline{
	display: inline-block;
}

.alto-bajo{
	height: 22px;
}